.form-group {
  display: flex;
  gap: 10px;
  border: 1px solid #000;
  flex-direction: column;
  padding: 20px;
}
.form-group-complet{
    display: flex;
    gap: 30px;


}
.form-group-completado{
    display: flex;
    gap: 72px;
    align-items: flex-end;

}
.items{
    display: flex;
    flex-direction: column;
}
input{
    border: 1px solid #000;
}
.button{
    width:100%;
    display: flex;
    justify-content: flex-end;
}

body{
    background-color: #fff
}
span{
    color: rgb(255, 0, 0);
}

.file-select {
    position: relative;
    display: inline-block;
  }
  
  .file-select::before {
    background-color: #5678EF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar'; /* testo por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .file-select input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;
  }
  
  #src-file1::before {
    content: 'Seleccionar Archivo 1';
  }
  
  #src-file2::before {
    content: 'Seleccionar Archivo 2';
  }